*{
    font-family: sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:#DDDDDD;
    scroll-behavior: smooth;
}

body{
    background-color: #242424;
}
a{
    text-decoration: none;
    color: #B8860B;
}
#best__sales{
    border: 1px solid #B8860B;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-decoration: none;
    transition: 200ms ease-in-out;
}
#best__sales:hover{
    box-shadow: inset 0 0 10px 0 gold;
}
#nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: black;
}
#nav__logo{
    height:5rem;
    fill: white;
    filter:invert(1);
    margin-left: 4rem;
    animation: alternate-reverse infinite logoAnimation 3000ms ease-in-out;
}
.nav__link{
    margin-right:2rem;
    font-size: 1.5rem;
}
.nav__link:hover{
    text-decoration: underline;
}
#bestCars{
    background-color: #ddd;
    border-top: 0.7rem solid black;
    border-bottom: 0.7rem solid black;
}
#main{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(black,#242424,#242424,#242424);
    height: 85vh;
}
.mainPic{
    height: auto;
    max-width:80%;
    object-fit: contain;
    animation: alternate-reverse infinite mainPicAnimation 3000ms ease-in-out
}
.mainPic--wrap{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    width:100%;
    align-items: center;
    height:50vh;
    flex: 1 1;
}
.best__h1,
.car__text,
.car__para{
    color: #242424;
}
.main__text{
    text-align: center;
    margin-top:2rem;
}
.main__h1{
    font-size: 4rem;
}
.main__p{
    font-size: 2.4rem;
}
.gold{
    color:#B8860B;
}
.underline{
    text-decoration: underline;
}
.green{
    color: #85bb65 ;
}
button{
    padding: 0.6rem;
    font-size: 1.8rem;
    margin-top: 1.2rem;
    background-color: transparent;
    color: #B8860B;
    cursor: pointer;
    border-radius: 1rem;
    border: 0.1rem solid #B8860B;
    transition: 200ms ease-in-out;
}
button:hover{
    background-color: #b8870b21;
    box-shadow: 0px 0px 0.6rem #B8860B;
}
.car{
    height: 12.5rem;
    width:15.6rem;
    flex-wrap: wrap;
    transition: 200ms ease-in-out;
    object-fit: contain;
}
.cars:nth-of-type(2)>:nth-of-type(1)>img{
    filter: drop-shadow(0 0 1rem rgba(190, 190, 0, 0.625));
}
.cars:nth-of-type(2)>:nth-of-type(2)>img{
    filter: drop-shadow(0 0 1rem rgb(249, 128, 128));
}
.cars:nth-of-type(2)>:nth-of-type(3)>img{
    filter: drop-shadow(0 0 1rem rgb(75, 123, 123));
}
.cars:nth-of-type(2)>:nth-of-type(4)>img{
    filter: drop-shadow(0 0 1rem gray);
}
.car:hover{
    transform: scale(1.05);
    filter:brightness(1.1)
}
.cars{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.cars__wrap{
    width:15.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.best__h1{
    text-align: center;
    font-size: 2.2rem;
    padding: 3.1rem 0;
}
.car__text{
    text-align: center;
    font-size: 1.8rem;
    align-items: center;
    text-decoration: underline;
    margin-bottom: 5px;
}
.car__para{
    text-align: center;
    margin-bottom: 3.1rem;
}
.cheap__car{
    width:37.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 400ms ease-in-out;
}
.cheap__cars{
    width:80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cheap__para{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}
.cheap__h1{
    text-align: center;
    font-size: 3.1rem;
    margin-top:1.2rem;
}
.cheap__car--wrapper{
    position: relative;
    border-radius: 1.2rem;
    box-shadow: 0 0 1.2rem rgba(255, 255, 255, 0.285);
    overflow: hidden;
    margin-bottom: 1.2rem;
}
.cheap__car--description{
    position: absolute;
    top: 50%;
    width:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 300ms, transform 350ms ease;
    opacity: 0;
    color: white;
}
.cheap__car--wrapper:hover .cheap__car--description{
    opacity: 1;
    transform: translateY(-50%);
}
.cheap__car--wrapper:hover .cheap__car{
    transform: scale(1.07);
    filter:blur(5px) brightness(50%);
}
.trending__car{
    width:37.5rem;
    height: 18.7rem;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 400ms ease-in-out;
}
.trending__cars{
    width:80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#trending{
    border-top:0.6rem solid black
}
.firstSection__text{
    text-align: center;
}
.svg__wrapper{
    display: flex;
    justify-content: center;
}
.svg__content:nth-last-of-type(1)>.text__svg:hover ~ p{
    opacity: 1;
    visibility: visible;
    top:8.3rem;
    transform: scale(1);
}
.svg__content:nth-last-of-type(2)>.text__svg:hover ~ p{
    opacity: 1;
    visibility: visible;
    top:8.3rem;
    transform: scale(1);
}
.svg__content p{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: 200ms ease-in-out all;
    top:6rem;
    transform: scale(0.5);
}
.text__svg{
    border:2px solid white;
    border-radius: 1rem;
    box-shadow: inset 0 0 0.6rem 0 #FFD700;
    padding: 2rem;
    margin:1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 200ms all ease-in-out;
}
.text__svg:hover{
    box-shadow: inset 0 0 15px 0 #FFD700;
    transform: scale(1.05);
}
.text__svg:hover svg{
    filter: drop-shadow(0 0 15px #FFD700);
}
.svg__content{
    width:9rem;
    position: relative;
}
.text__svg>svg{
    height:2.5rem;
    fill:white;
    filter: drop-shadow(0 0 0.6rem #FFD700);
}
.trending__car--wrapper{
    position: relative;
    border-radius: 1.2rem;
    box-shadow: 0 0 1.2rem rgba(255, 255, 255, 0.285);
    overflow: hidden;
    margin-bottom: 1.2rem;
}
.trending__car--description{
    position: absolute;
    top: 50%;
    width:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 300ms, transform 350ms ease;
    opacity: 0;
    color: white;
}
.trending__car--wrapper:hover .trending__car--description{
    opacity: 1;
    transform: translateY(-50%);
}
.trending__car--wrapper:hover .trending__car{
    transform: scale(1.07);
    filter:blur(5px) brightness(50%);
}
.trending__h1{
    font-size: 1.8rem;
}
.trending__para{
    font-size: 1.2rem;
}
.footer__wrapper{
    height:12.5rem;
    background-image: linear-gradient(#242424,black,black,black,black,black);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 17rem;
    height:80%;
}
#footer__logo{
    height:5rem;
    filter:drop-shadow(0 0 10px white);
    transition: 200ms ease-in-out all;
    position:absolute;
    top:0;
}
#footer__logo:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px white);
}
#footer{
    height:25vh;
}
.footer__links{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__content:hover>.footer__links>.footer__link{
    visibility: visible;
}
.footer__content:hover>.footer__links>.footer__link:nth-last-of-type(1){
    top:60%;
    opacity: 1;
}
.footer__content:hover>.footer__links>.footer__link:nth-last-of-type(2){
    top:60%;
    right:0;
    opacity: 1;
}
.footer__content:hover>.footer__links>.footer__link:nth-last-of-type(3){
    top:60%;
    left:0;
    opacity: 1;
}
.footer__link{
    color: #ddd;
    opacity: 0;
    position: absolute;
    transition: 200ms ease-out all;
}
.footer__link:nth-last-of-type(1){
    top:50%;
}
.footer__link:nth-last-of-type(2){
    top:50%;
    right:0;
}
.footer__link:nth-last-of-type(3){
    top:50%;
    left:0;
}
.footer__link:hover{
    color:white;
    text-decoration: underline;
    transform: scale(1.05);
}
.footer__text{
    margin-top:0.6rem;
    position: absolute;
    bottom:10%;
}
.footer__para{
    font-weight: 100;
    font-size:1rem;
}
@keyframes mainPicAnimation{
    0%{
        transform: translateY(-1%);
    }
    100%{
        transform: translateY(1%);
    }
}
@keyframes logoAnimation{
    0%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(5%);
    }
}
/* Small phones, tablets, large smart phones*/
@media (max-width: 768px){
    .main__h1{
        font-size: 2.7rem;
    }
    .mainPic--wrap{
        width:90%;
    }
    .firstSection{
        display: flex;
        flex-direction: column;
    }
    .svg__content{
        padding:1px;
        margin:1px;
    }
    .svg__wrapper{
        margin:1px;
    }
    #nav__logo{
        margin-left:0.5rem;
    }
    .firstSection__wrapper>h1{
        font-size: 1.5rem;
    }
    .main__p{
        font-size:1.6rem;
    }
    button{
        font-size:1.5rem;
    }
    .nav__link{
        font-size: 1.2rem;;
        margin-right:1.2rem;;
    }
    #cars{
        display:none;
    }
    .cheap__car{
        width:31.2rem;
    }
    #cheap{
        align-items: center;
        justify-content: center;
    }
    .cheap__h1{
        font-size: 2.1rem;
    }
    .cheap__para{
        font-size: 1.5rem;
    }
    .trending__h1{
        font-size: 1.2rem;;
    }
    .trending__para{
        font-size: 1rem;
    }
    .trending__car{
        width:31.5rem;
        height:15.6rem;
    }
    .trending__cars{
        align-items: center;
        justify-content: center;
    }
    .main__text{
        margin:0;
    }

}
/*Small phones*/
@media (max-width: 480px){
    .main__h1{
        font-size:1.8rem;
    }
    .mainPic--wrap{
        width:100%;
    }
    .main__p{
        font-size:1.5rem;
    }
    button{
        font-size:1.2rem;;
    }
    #nav__logo{
        height:3.1rem;
    }
    .nav__link{
        font-size:1rem;
    }
    .best__h1{
        font-size: 2.1rem;
    }
    .cheap__para{
        font-size:1.2rem;;
    }
    .cheap__h1{
        font-size:1.8rem;
    }
    .cheap__car{
        width: 23.7rem;
    }
    .trending__para{
        font-size:0.9rem;
    }
    .trending__car{
        width:25rem;
        height:12.5rem;
    }
}
@media (max-width: 1500px){
    .cheap__cars{
        align-items: center;
        justify-content: center;
    }
    .trending__cars{
        align-items: center;
        justify-content: center;
    }
}
